:root {
  --bg: #333;
  --coral: lightcoral;
  --main: wheat;
  --dark: rgb(31, 28, 28);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif;
  margin: 0;
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  color: var(--coral);
}

ul {
  list-style: none;
}

main {
  height: 90vh;
}

body>header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--dark); */
}

body>header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

body>header ul li {
  margin: 0 16px;
}

main,
body>header {
  padding: 0 5%;
}

main h1 {
  text-align: center;
  color: var(--main);
  font-size: 3em;
  margin: 0;
  padding-top: 1em;
}

#logo {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--main);
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}

#logo:hover {
  transform: scale(1.2);
}

#special-menu {
  margin: 3em auto
}

#special-menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42vh, 1fr));
  gap: 2em;
  margin: 0;
  padding: 0;
}

.menu-item {
  background-color: var(--main);
  border-radius: 6px;
  margin-bottom: 1em;
}

.menu-item__image {
  border-radius: 6px;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.menu-item img {
  object-fit: cover;
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

.menu-item img:hover {
  transform: scale(1.2);
}

.menu-item__content {
  padding: 1em 0 2em;
  text-align: center;
}

.btn {
  background-color: var(--bg);
  padding: 0.5em 0.8em;
  border-radius: 6px;
}

/* burger */
.menu-btn {
  width: 3em;
  height: 3em;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: rotate(0deg);
}

.menu-btn span:nth-child(1) {
  transform-origin: left center;
}

.menu-btn span:nth-child(2) {
  transform-origin: left center;
}

.menu-btn span:nth-child(3) {
  transform-origin: left center;
}

.menu-btn.close span:nth-child(1) {
  transform: rotate(45deg);
}

.menu-btn.close span:nth-child(2) {
  width: 0%;
  opacity: 0;
  transition: .1s;
}

.menu-btn.close span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-btn {
  animation-name: fade;
  animation-duration: 1s;
}

/* burger */


/* side drawer*/
#side-drawer {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#side-drawer nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#side-drawer ul {
  margin: 0;
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-drawer li {
  margin: 1em 0;
}

#side-drawer header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

.aside__item {
  color: var(--main);
  font-size: 4em;
}

/* side drawer*/

@media screen and (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  #side-drawer:target {
    animation-name: slide;
    animation-duration: 1s;
    display: block;
    transform: translateX(0);
  }

  nav {
    display: none;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}